absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
chardet==3.0.4
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
Cython==3.0.11
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.6.0
git-filter-repo==2.45.0
google-pasta==0.2.0
googletrans==4.0.0rc1
grpcio==1.65.4
h11==0.9.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.8.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.24.6
hyperframe==5.2.0
idna==2.10
inflection==0.5.1
jsonpointer==2.1
keras==3.4.1
keras-tuner==1.4.7
kt-legacy==1.0.5
langdetect==1.0.9
libclang==18.1.1
ml-dtypes==0.4.0
munkres==1.1.4
namex==0.0.8
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
patsy==0.5.3
ply==3.11
pmdarima==2.0.4
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
pytrends==4.9.2
rfc3986==1.5.0
safetensors==0.4.4
sentence-transformers==3.0.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tf_keras==2.17.0
threadpoolctl==3.1.0
tokenizers==0.19.1
torch==2.4.0
transformers==4.44.2
webencodings==0.5.1
nltk==3.8.1
joblib==1.2.0
requests==2.31.0
numpy==1.26.4
pandas==2.2.1
pickle-mixin==1.0.2
streamlit==1.32.0
streamlit-option-menu==0.3.2
scikit-learn==1.2.2
matplotlib==3.8.4
